@use "../../../styles" as *;

.social-media-links {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;

  .social-media-icon {
    width: 30px;
    height: 30px;
  }

  .divider {
    background-color: #d6d6d7;
    width: 1px;
  }
}
