@use "../../styles" as *;

.rating-container {
  position: relative;
  width: fit-content;
  display: flex;

  .rating-progressbar {
    background-color: #091c23;
    border-radius: 50%;
    padding: 2px;
  }

  .green {
    color: #21d07a;
  }

  .yellow {
    color: #d3d431;
  }

  .red {
    color: #db2360;
  }

  .rating-count {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: $font-weight-600;

    .percentage-sign {
      font-size: 6px;
      position: relative;
      bottom: 6px;
    }
  }
}
