@use "../../../styles" as *;

.list {
  list-style: none;

  .navlink-wrapper{
    line-height: $line-height-24;

    .navlink {
      color: $color-white;
      text-decoration: none;
      font-size: $font-size-18;
    }
  }
}
