@use "../../styles" as *;

.mobile-navbar {

    @include desktop(){
        display: none;
    }

  .header {
    background-color: rgb(3, 37, 65);
    height: 64px;
    display: flex;
    align-items: center;

    .navbar {
      width: 100%;
      padding: $padding-0 $padding-20;
      gap: 2px;
      display: flex;
      align-items: center;

      .wrapper {
        flex: 1;
      }

      .menu-icon-wrapper {
        display: flex;
        .menu-icon {
          background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-600-menu-7ef6e3f4266b4b216a8ef5920da43fc8c96e1ee805a219c5628fed5bfac854d5.svg);
          filter: invert(1);
          width: 22px;
          height: 22px;
          display: inline-block;
        }
      }

      .logo-wrapper {
        display: flex;
        justify-content: center;
        .logo {
          width: 55px;
          aspect-ratio: auto 55 / 40;
          height: 40px;
          display: inline-block;
        }
      }

      .action-icon-wrapper {
        display: flex;
        gap: 14px;
        justify-content: flex-end;
        align-items: center;
        .user-icon {
          background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-4-user-7de7dfcae838579a18f4eebc5b8847230d154718e481c5cd01c477cfcbc85993.svg);
          filter: invert(1);
          width: 22px;
          height: 22px;
          display: inline-block;
        }

        .search-icon {
          background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-28-search-blue-177462d06db81ff2a02aa022c1c0be5ba4200d7bd3f51091ed9298980e3a26a1.svg);
          width: 24.63px;
          height: 24.63px;
          display: inline-block;
        }
      }
    }
  }

  .sidebar {
    height: calc(100vh - 64px);
    width: 90%;
    background-color: rgba(3, 37, 65, 0.9);

    .wrapper {
      padding: $padding-20;

      .primary-navlinks {
        list-style: none;
        @include flex-column();

        .navlink-wrapper {
          margin-bottom: 10px;
          display: inline-block;

          &:last-of-type {
            margin-bottom: 0;
          }

          .navlink {
            font-size: 20.8px;
            text-decoration: none;
            font-weight: 600;
            color: $color-white;
          }

          .nested-navlinks {
            margin: 10px 0 20px 0;
            list-style: none;

            .nested-navlink-wrapper {
              padding-bottom: 10px;

              &:last-of-type {
                padding-bottom: 0;
              }

              .nested-navlink {
                text-decoration: none;
                color: $color-white;
                font-size: $font-size-16;
              }
            }
          }

          &:last-of-type .nested-navlinks {
            margin-bottom: 0;
          }
        }
      }

      .secondary-navlinks {
        // margin-top: -10px;
        margin-top: 20px;
      }

      .secondary-navlinks,
      .login-navlink {
        list-style: none;

        .navlink-wrapper {
          padding-bottom: 10px;

          .navlink {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            font-weight: $font-weight-600;
            font-size: $font-size-16;
          }
        }
      }

      .login-navlink {
        margin-top: 10px;
        .navlink-wrapper {
          padding-bottom: 0;
        }
      }
    }
  }
}
