@use "../../styles" as *;

$maxPrimaryPageWidth: 1400px;

.movie-page {
  .primary-info {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left calc((50vw - 170px) - 340px) top;

    .wrapper {
      background-image: linear-gradient(
        to right,
        rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
        rgba(31.5, 31.5, 31.5, 0.84) 50%,
        rgba(31.5, 31.5, 31.5, 0.84) 100%
      );
    }
  }

  .movie-info-wrapper {
    max-width: $maxPrimaryPageWidth;
    margin: auto;

    @include tablet {
      height: 100%;
    }
  }

  .secondary-info {
    max-width: $maxPrimaryPageWidth;
    margin: auto;
    display: flex;
    padding: 30px 40px;

    .wrapper {
      max-width: calc($maxPrimaryPageWidth - 80px - 268px);
      width: calc(100vw - 80px - 268px);
      padding-right: 30px;

      @include laptop {
        padding-right: 0;
        max-width: 100%;
        width: 100%;
      }
    }

    @include laptop {
      flex-direction: column;
      padding: 0;
    }
  }
}
