// background colors
$color-primary:3,37,65; // blue
$color-white:#fff;

// padding
$padding-0: 0;
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-28: 28px;
$padding-32: 32px;
$padding-36: 36px;
$padding-40: 40px;
$padding-44: 44px;
$padding-48: 48px;
$padding-52: 52px;
$padding-56: 56px;
$padding-60: 60px;
$padding-64: 64px;
$padding-68: 68px;
$padding-72: 72px;
$padding-76: 76px;
$padding-80: 80px;

// gap
$gap-0: 0;
$gap-4: 0.4rem;
$gap-8: 0.8rem;
$gap-12: 1.2rem;
$gap-16: 1.6rem;
$gap-20: 2rem;
$gap-24: 2.4rem;
$gap-28: 2.8rem;
$gap-32: 3.2rem;
$gap-36: 3.6rem;
$gap-40: 4rem;
$gap-44: 4.4rem;
$gap-48: 4.8rem;
$gap-52: 5.2rem;
$gap-56: 5.6rem;

// font sizes
$font-size-12: 1.2rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-28: 2.8rem;
$font-size-32: 3.2rem;
$font-size-36: 3.6rem;
$font-size-40: 4rem;
$font-size-44: 4.4rem;
$font-size-48: 4.8rem;

// line height
$line-height-0: 0em;
$line-height-4: 0.4em;
$line-height-8: 0.8em;
$line-height-12: 1.2em;
$line-height-14: 1.4em;
$line-height-16: 1.6em;
$line-height-20: 2em;
$line-height-24: 2.4em;
$line-height-28: 2.8em;
$line-height-32: 3.2em;
$line-height-36: 3.6em;
$line-height-40: 4em;
$line-height-44: 4.4em;
$line-height-48: 4.8em;


// border-radius
$border-radius-small: 5px
