$maxPrimaryPageWidth: 1400px;

// background colors
// i havent implemented this part as it is causing error i have implementd colo manually
$color-primary:3,37,65; // blue
$color-purple: 128,91,231; //purple
$color-white:#fff;
$color-white-hover:#f8f9fa;
$color-black:#000;

// font weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// margin
$margin-0: 0;
$margin-4: 4px;
$margin-8: 8px;
$margin-12: 12px;
$margin-16: 16px;
$margin-20: 20px;
$margin-24: 24px;
$margin-28: 28px;
$margin-32: 32px;
$margin-36: 36px;
$margin-40: 40px;
$margin-44: 44px;
$margin-48: 48px;

// padding
$padding-0: 0;
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-16: 16px;
$padding-20: 20px;
$padding-24: 24px;
$padding-28: 28px;
$padding-32: 32px;
$padding-36: 36px;
$padding-40: 40px;
$padding-44: 44px;
$padding-48: 48px;
$padding-52: 52px;
$padding-56: 56px;
$padding-60: 60px;
$padding-64: 64px;
$padding-68: 68px;
$padding-72: 72px;
$padding-76: 76px;
$padding-80: 80px;

// gap
$gap-0: 0;
$gap-4: 0.4rem;
$gap-8: 0.8rem;
$gap-12: 1.2rem;
$gap-16: 1.6rem;
$gap-20: 2rem;
$gap-24: 2.4rem;
$gap-28: 2.8rem;
$gap-32: 3.2rem;
$gap-36: 3.6rem;
$gap-40: 4rem;
$gap-44: 4.4rem;
$gap-48: 4.8rem;
$gap-52: 5.2rem;
$gap-56: 5.6rem;

// font sizes
$font-size-12: 1.2rem;
$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-28: 2.8rem;
$font-size-32: 3.2rem;
$font-size-36: 3.6rem;
$font-size-40: 4rem;
$font-size-44: 4.4rem;
$font-size-48: 4.8rem;

// line height
$line-height-0: 0rem;
$line-height-2: 0.2rem; 
$line-height-4: 0.4rem;
$line-height-6: 0.6rem; 
$line-height-8: 0.8rem;
$line-height-10: 1rem; 
$line-height-12: 1.2rem;
$line-height-14: 1.4rem;
$line-height-16: 1.6rem;
$line-height-18: 1.8rem; 
$line-height-20: 2rem;
$line-height-22: 2.2rem; 
$line-height-24: 2.4rem;
$line-height-26: 2.6rem; 
$line-height-28: 2.8rem;
$line-height-30: 3rem; 
$line-height-32: 3.2rem;
$line-height-34: 3.4rem;
$line-height-36: 3.6rem;
$line-height-38: 3.8rem; 
$line-height-40: 4rem;

// border-radius
$border-radius-3: 3px;
$border-radius-4: 4px;
$border-radius-small: 5px;
