@use "./constants" as *;

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin image-placeholder($bg-size, $image-url: null) {
  background-color: $color-placeholder;

  @if $image-url {
    background-image: url($image-url);
  }

  background-size: $bg-size;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin tablet() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin medium-screen() {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin big-screen() {
  @media screen and (max-width: 1260px) {
    @content;
  }
}
