@use "../../../../styles" as *;

.navlink-wrapper {
  .navlink {
    text-decoration: none;
    color: $color-white;
    font-weight: $font-weight-600;
    display: flex;
    padding: 8px;

    &:focus + .nested-navlinks-wrapper {
      visibility: visible;
    }
  }
  .nested-navlinks-wrapper {
    visibility: hidden;
    position: absolute;
    background-color: $color-white;
    padding: 8px 0;
    border-radius: $border-radius-4;

    .nested-navlinks {
      list-style: none;

      .nested-navlink-wrapper {
        height: 30px;
        display: flex;
        align-items: center;
        width: 100%;

        &:hover {
          background-color: $color-white-hover;
        }
        .nested-navlink {
          line-height: 24px;
          text-decoration: none;
          color: $color-black;
          padding: 3px 64px 3px 24px;
        }
      }
      .popular {
        width: max-content;
      }
    }
  }
}
