@use "../../styles" as *;

.stats-panel {
  max-width: 300px;

  .social-media-links {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    .social-media-icon {
      width: 30px;
      height: 30px;
    }

    .divider {
      background-color: #d6d6d7;
      width: 1px;
    }
  }

  .wrapper {
    margin-bottom: 20px;

    .label {
      font-weight: $font-weight-600;
      display: block;
      line-height: 24px;
    }
  }

  @include laptop {
    max-width: 100%;
    padding: 20px;
  }

  @include big-screen {
    padding-top: 20px;
  }
}
