@use "../../styles" as *;

.stats-panel {
  max-width: 300px;

  .wrapper {
    margin-bottom: 20px;

    .label {
      font-weight: $font-weight-600;
      display: block;
      line-height: 24px;
    }
  }

  @include laptop {
    max-width: 100%;
    padding: 20px;
  }

  @include big-screen {
    padding-top: 20px;
  }
}
