@use "../../../../styles" as *;

.sort-options-container {
  font-family: "Source Sans Pro", Arial, sans-serif;
  border-color: #e4e7eb;
  background-color: #e4e7eb;
  font-size: 14.4px;
  padding: 6px 12px;
  line-height: 21.6px;
  border-radius: 4px;
  font-size: 14.4px;

  &:focus {
    outline: none;
  }
}
