@use "../../../styles" as *;

.user-review {
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;

  .review-header {
    display: flex;
    gap: 50px;
    align-items: flex-end;
    margin-bottom: 20px;
    font-weight: $font-weight-600;

    .review-title {
      font-size: 22.4px;
      font-weight: $font-weight-600;

      @include tablet {
        font-size: 19.2px;
      }
    }

    .review-count-container {
      font-size: 17.6px;
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 26px;
        height: 4px;
        width: 100%;
        background-color: $color-black;
      }

      @include tablet {
        font-size: 16px;
      }
    }

    @include tablet {
      justify-content: space-between;
    }
  }

  .review-body {
    border: 1px solid rgb(227, 227, 227);
    min-height: 200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    @include flex-center();
  }

  @include tablet {
    padding: 20px;
  }
}
