@use "../../../styles" as *;

.card {
  width: 150px;

  .card-header {
    height: 225px;
    background-color: $color-placeholder;
    background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: $border-radius-8;
    overflow: hidden;

    .card-image {
      width: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .card-content {
    padding: 26px 10px 0 10px;
    position: relative;

    .rating-container {
      position: absolute;
      top: -19px;
      left: 10px;
      border-radius: $border-radius-round;
    }

    .movie-name {
      font-weight: $font-weight-700;
      text-decoration: none;
      color: $color-black;
    }

    .movie-launch-date {
      display: block;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
