@use "../../../../styles" as *;

.availability-filter {
  padding-bottom: 4px;
  .label {
    display: flex;
    gap: 4px;
    align-items: center;
    line-height: 1;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
