@use "../../styles" as *;

.footer {
  background-image: radial-gradient(at 30% top,
      #0a1e30 0%,
      rgba(3, 37, 65, 1) 70%);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: $font-size-16;

  @include laptop {
    padding: 40px 0 0;
  }

  .footer-navbar {
    gap: $gap-40;
    display: flex;
    justify-content: center;
    padding: $padding-80 $padding-0;

    @include laptop {
      flex-direction: column;
      padding: 0 $padding-20 40px;
    }

    .logo-container {
      @include flex-column();
      width: fit-content;
      gap: $gap-48;
      position: relative;

      .logo {
        width: 130px;
        height: 94px;
        aspect-ratio: auto 130/94;
        position: absolute;
        right: 0;
        top: -36px;

        @include laptop {
          display: none;
        }
      }

      .join-community-btn {
        margin-top: auto;
        text-decoration: none;
        color: rgba(1, 180, 228, 1);
        word-wrap: break-word;
        font-size: 18.72px;
        text-transform: uppercase;
        font-weight: $font-weight-700;
        border: 2px solid #fff;
      }
    }
  }

  .build-info {
    text-align: center;
    color: $color-white;
    opacity: 0.1;
    font-size: $font-size-12;
  }
}