@use "../../../styles" as *;

.cast-card {
  width: 140px;
  border: $border-grey;
  border-radius: $border-radius-8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 258px;

  .profile-wrapper {
    width: 138px;
    @include image-placeholder(50%);
    height: 175px;
    border-radius: 8px 8px 0 0;
    .profile-img {
      border-radius: 8px 8px 0 0;
    }
  }

  .cast-content {
    padding: 10px;
    .original-name {
      display: block;
      font-weight: $font-weight-700;
    }
    .character-name {
      font-size: 14.4px;
    }
  }
}
