@use "../../styles" as *;

.recommendation {
  border-top: 1px solid #d7d7d7;
  padding-top: 30px;
  font-size: $font-size-16;

  .recommendation-header {
    padding-bottom: 20px;
    .title {
      font-weight: $font-weight-600;
      font-size: 22.4px;
    }
  }

  .recommendation-body {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    gap: 15px;
    position: relative;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background-color: #dbdbdb;
      border-radius: 10px;
    }

    &::after {
      content: "";
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0,
        #fff 100%
      );
      will-change: opacity;
      pointer-events: none;
    }
  }
}
