@use "../../styles" as *;

.cast-info {
  position: relative;
  padding-bottom: 30px;

  .title {
    font-size: 22.4px;
    margin-bottom: 20px;
    font-weight: $font-weight-600;

    @include laptop {
      padding: 0 20px;
      font-size: 19.2px;
    }
  }

  .cast-card-container {
    display: flex;
    overflow-x: scroll;
    gap: 14px;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background-color: $color-scrollbar;
      border-radius: $border-radius-10;
    }

    &::after {
      content: "";
      width: 60px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0,
        #fff 100%
      );
      will-change: opacity;
      pointer-events: none;
    }

    .view-more {
      min-width: 140px;
      height: 258px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      .view-more-link {
        text-decoration: none;
        font-weight: 700;
        color: $color-black;
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
          color: rgba(0, 0, 0, 0.5);
        }

        .right-arrow {
          background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-5c2f4e65afc985448cd9042f9d64426f1e002fbd3c2546053d190fa27f77600f.svg);
          width: 18px;
          height: 18px;
          display: inline-block;
        }
      }
    }

    @include laptop {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include laptop {
    padding: 20px 0;
  }
}
