@use "../../styles" as *;

.movie-page {

  .wrapper {
    max-width: $maxPrimaryPageWidth;
    margin: auto;
  }

  .secondary-info{
    display: flex;

    .wrapper{
      max-width: 1052px;
    }
  }
}
