@use "./styles" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    height: 100vh;

    #root {
      height: 100vh;
    }

    button {
      font-size: 16px;
      font-family: "Source Sans Pro", Arial, sans-serif;
      cursor: pointer;
    }

    input {
      font-family: "Source Sans Pro", Arial, sans-serif;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;

  &-thumb:vertical {
    background-color: $color-scrollbar;
    border-radius: $border-radius-10;
  }
}
