@use "../../../../styles" as *;

.watch-provider {
  display: flex;
  margin-top: 4px;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 6px;
  justify-content: space-between;

  &::after {
    content: "";
    flex: auto;
  }
}
